:root{
--very-dark-grayish-blue: hsl(217, 19%, 35%);
--desaturated-dark-blue: hsl(214, 17%, 51%);
--grayish-blue: hsl(212, 23%, 69%);
--light-grayish-blue: hsl(210, 46%, 95%);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grayish-blue);
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  color: var(--grayish-blue);
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  cursor: pointer;
  border: none;
}

.container{
  display: flex;
  background-color: #fff;
  width: clamp(20.5rem, 80%, 45.625rem); 
  height: 17.5rem;
  border-radius: 0.5rem;
}

.img-drawers{
  border-radius: 0.5rem 0 0 0.5rem;
  max-width: 100%;
  height: auto;
  width: 17.5rem;
}

.container > div{
  padding: 40px 40px 20px;
}
p{
  margin: 1.25rem 0;
  font-weight: 500;
}

h1{
  font-size: 1.25rem;
  color: var(--desaturated-dark-blue);
  line-height: 1.5rem;
}

.perfil{
  display: flex;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
}
.perfil strong{
  color: var(--desaturated-dark-blue);
}
.perfil p{
  margin: 0;
}

.avatar{
  max-width: 100%;
  width: 2.5rem;
  height: auto;
  border-radius: 50%;
}

.share-btn{
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--light-grayish-blue)
}

.share-btn:active,
.share-btn-active{
  background-color: var(--desaturated-dark-blue)
}
.share-btn:active img,
.share-btn-active img{
  filter: brightness(10);
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 248px;
  height: 54px;
  background-color: var(--very-dark-grayish-blue);
  transform: translate(13.75rem, -7rem);
  gap: 1rem;
  border-radius: 0.5rem;
}
.social-media p{
  letter-spacing: 0.25rem;
  margin: 0;
}

.social-media:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
  transform: translate(10px, 36px);
}

.hidden{
  display: none;
}

@media (max-width: 841px) {
  .container > div {
    padding: 20px ;
  }
}
@media (max-width: 723px) {
  .container{
    flex-direction: column;
    height: 31.875rem;
  }
  .img-drawers{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 12.5rem;
  }
  .container > div {
    padding: 40px 40px 0px;
  }
  .social-media{
    transform: translate(calc(80% - 4rem), -7rem)
  }
}

@media (max-width: 500px){
  p{
    margin: 1rem 0;
  }
  .social-media{
    position: relative;
    transform: none;
    width: calc(100% + 80px);
    height: 62px;
    margin-left: -40px;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .social-media:after{
    border: none;
  }
  .share-btn-active{
    margin-left: 4rem;
  }
}

@media (max-width: 424px) {
  .share-btn-active {
      margin-left: 2rem;
    }
}

/* control tooltip locale */
@media (min-width:896px) {
  .social-media{
    transform: translate(calc(80% - 4rem), -7rem)
  }
}